body > header {
    text-align: center;
}

body > header > h2 {
    float: inline;
    width: 160px;
    height: 50px;
    margin-top: 10px;
}
body > header > h2:hover {
    padding: 20px 40px;
    background-color: rgba(196, 196, 196, 0.623);
    transition-duration: 0.8s;
    cursor: pointer;
    border-radius: 30px;
    font-size: 30px;
}