.container {
    width: 1200px;
    margin-left: calc(50% - 600px);
    background-color: aqua;
}
/*HEADER*/
.left-menu {
    width: 500px;
    float: left;
    text-align: center;
    margin-left: 25px;
    margin-top: 10px;
}
.logo {
    width: 100px;
    margin-left: 25px;
    display: inline;
}
.right-menu {
    width: 500px;
    float: right;
    text-align: center;
    margin-right: 25px;
    margin-top: 10px;
}
.menu-link {
    width: 100px;
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 10px;
}
.menu-link:hover {
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.4s;
}
/*MAIN*/ /*POSTER*/
.poster {
    background-color: pink;
    width: 1200px;
    height: 400px;
    margin-top: 20px;
    text-transform: uppercase;
}
.left-column {
    width: 40%;
    float: left;
    margin-left: 120px;
}
.main-title {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}
.main-title > span {
    font-weight: 100;
}
.btn-main {
    font-size: 25px;
    text-decoration: none;
    padding: 20px 60px;
    color: white;
    background-color: bisque;
    border-radius: 5px;
}
.btn-main:hover {
    transition-duration: 0.4s;
    background-color: rgba(210, 105, 30, 0.5);
    font-weight: bold;
    color: black;
}
.right-column {
    width: 450px;
}
/*MAIN*/ /*PRODUCTS*/
.products {
    margin-top: 20px;
    background-color: antiquewhite;
    margin-bottom: 20px;
}
.titles {
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
}
.under-title {
    text-align: center;
    margin-top: 0px;
}
.sellection {
width: 300px;
padding: 20px 10px ;
margin-left: 60px;
display: inline-block;
}
.sellection:hover {
    transition-duration: 0.4s;
    background-color: bisque;
    border-radius: 5px;
}
.productimg {
    width: 300px;
}
.product-name {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}
/*MAIN*/ /*MORE*/
.more {
    background-color: rgb(150, 219, 196);
    width: 1200px;
    height: 260px;
    margin-bottom: 350px;
}
.pics {
    margin-left: 216px;
    margin-top: 20px;
}
.other-img {
    width: 250px;
    padding: 3px;
}
.plus {
    font-size: 50px;
    text-align: center;
}
.extra {
    margin-left: 216px;
}
.emoji {
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 246px;
}
.column {
    width: 246px;
    height: 250px;
    display: inline-block;
    margin-top: 0px;
}
.option {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    width: 246px;
}
.under-option {
    text-align: center;
    margin-top: 0px;
    width: 246px;
}
.space {
    width: 14px;
    height: 200px;
    display: inline-block;
}
.line {
    stroke: black; 
    stroke-width: 2px;
}
